<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="containerAdmin">
        <h1>Connexion Admin</h1>
        <form action="/admin" method="post">
            <input autocomplete="off" type="text" name="key" placeholder="Entrez votre clé">
            <input type="submit" value="Se connecter">
        </form>
    </div>
</body>
</html>

