

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bamboo</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
    <body>
    <header class="header">
        <div class="name">
            <a href="/"><img src="../assets/img/image.blancpng.png  " alt="Bambou">
            <a href="/" class="logo">Bᴀᴍʙᴏᴏ
        </div>
        <nav class="navbar">
            <a href="/">Accueil</a>
            <a href="/forum/1">Forum</a>
            <a href="/faq/1">FAQ</a>
        </nav>
        <form action="/search" method="post"class="search-bar">
            <input name="search"type="text" placeholder="Search...">
            <button type="submit"><i class='bx bx-search'></i></button>
        </form>
        {{if .Connect}}        
        <div class="navbar2">
            <ul>
                <li class="menu-deroulant">
                    <a href="" class="MainButtonpdp"><img class="pdp"src="{{.User.Image}}"></a>
                  <ul class="sous-menu">
                    <li><a href="/profile">Profil</a></li>
                    <li><a href="/notif">Notifications ({{.User.Nbnotifpasvu}})</a></li>
                    <li><a href="/deco">Se déconnecter</a></li>
                  </ul>
                </li>
        </div>
        {{else}}
        <div class="navbar2">
            <a href="/login" class="MainButton">Se connecter</a>
        </div>
        {{end}}

    </header>
    <div class="container">
        <h1>search</h1>
        <h2>{{.Search}}</h2>
    </div>
    
    <footer class="footer">
        <div class="container2">
            <div class="row">
                <div class="footer-col">
                    <h4>About US</h4>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">forum</a></li>
                        <li><a href="#">contact us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
   <script src="/assets/js/animationaccueil.js"></script>
   </body>
</html>